@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;

}

.bg-dark{
    background-color: rgb(20 20 20) !important;
    padding: 0 !important;
}
.img-fluid{
    width: 85px !important;
    padding: 0 !important;
}
.login{
    display: flex;

}
.btn-login{


    height: 40px;
    width: 55px;
    margin-left: 15px;
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn-login:hover{
    background-color: rgb(8,102,255);
    color: white;
    border: 2px solid #85633b;
}
.btn-up{

    height: 40px;
    width: 70px;
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    padding:0 10px 0 5px ;
}
.btn-up:hover{
    background-color: rgb(7, 172, 21);
    border: 2px solid #85633b;
}
.img{
    width: 1118px !important;
    background-attachment: local !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    z-index: 1;
}
.text-light{
    color: #c76c00 !important;
}
.button{
    background-color: transparent;
    color: #85633b;
    border: 2px solid;
    padding: 4px;
    /*border-radius: 5px;*/
}
.ms-4{
    color: #85633b;
}
.main-text{
    position: absolute;
    z-index: 2;
}